body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(162, 197, 195);
  font-family: 'IM Fell DW Pica SC', serif;
  letter-spacing: 0.7px;
  /* font-weight: bolder; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.title {
  margin-top: 0.1px;
  margin-bottom: 0.1px;
  /* font-family: 'Stardos Stencil', cursive; */
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 15px;
  background-color: rgb(69, 112, 110);
  color: rgba(255, 255, 255, 0.7);
  font-weight: bolder;
}

.header {
  display: flex;
  width: 100vw;
  height: 2.25em;
  background-color: rgb(105, 154, 152);
  justify-content: space-between;
  align-content: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Stardos Stencil', cursive;
  /* font-family: 'Homemade Apple', cursive; */
}

#hello {
  padding: 5px;
  margin-right: 30px;
}

.searchbox {
  font-family: 'Stardos Stencil', cursive;
  margin-right: 4vw;
}

#goodbye {
  padding: 5px;
  margin-left: 30px; 
}

#searchbutton, #commentbutton, .favebutton, #deletebutton, .seemorebutton {
  padding: 2px;
  margin: 2px;
  border: 1px solid rgb(69, 112, 110);
  color: rgb(33, 62, 61);
  border-radius: 0;
  /* font-family: 'Stardos Stencil', cursive; */
  
}

.favebutton, .seemorebutton {
  width: 14vw;
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;
  letter-spacing: 1px;
  /* background-color: rgba(220, 244, 243, 1); */
}

#searchbutton {
  font-family: 'Stardos Stencil', cursive;
}

#commentbox {
  width: 150px;
}

.flex-container {
  /* position: absolute; */
  display: flex;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  align-content: center;
}

.bookinfo {
  display: inline-block;
  width: 15vw;
  vertical-align: top;
  height: 25.5vh;
  border: 4px solid rgba(255, 255, 255, 0.5);
  /* border-style: outset; */
  line-height: 0.92em;
  margin: 3px;
}

.booktitle {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 3px;
  height: 10vh;
  /* text-align: center;
  font-size: 15px; */
  /* height: fit-content; */
  background-color: rgba(91, 147, 145, 0.8);
}

.bookauthors {
  font-size: 0.73em;
  margin-top: 0;
  margin-bottom: 3px;
  height: 3.8vh;
  background-color: rgba(139, 202, 200, 0.8);
}

.buttons {
  margin-bottom: 1px;
  height: 10vh;
}


.left {
  flex: 2;
  overflow-y: auto;
}

.right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 10px;
}

.rightdetail {
  flex: 1.1;
  overflow-y: auto;
  border: 7px solid rgba(255,255,255,0.5);
  border-style: outset;
}

.rightfave {
  flex: 1;
  overflow-y: auto;
  border: 7px solid rgba(255,255,255,0.5);
  border-style: outset;
}

.bottom {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  height: 20vh;
}

.bottomtop {
  flex: 50;
  overflow-x: auto;
}

.bottomtop {
  flex: 10;
  overflow-x: auto;
}

.submit {
  font-family: 'Architects Daughter', cursive; 
  text-align: center;
  letter-spacing: 1px;
  font-weight: bolder;
  background-color: rgb(224, 234, 234);
  border: 0.1px solid black;
  border-radius: 2px;
}

.submit, .seemorebutton:hover {
	animation: bounce 1s;
}

.favebutton:hover {
  animation: bounce 1s;
}

.loginsignup {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  width: 120px;
}

input[type=text] {
  width: 120px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=email] {
  width: 120px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password] {
  width: 120px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}



input[type=text]:focus {
border: 3px solid #555;
}

input[type=email]:focus {
  border: 3px solid #555;
}

input[type=password]:focus {
  border: 3px solid #555;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
