body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(162, 197, 195);
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: 'Fredericka the Great', cursive; */
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 0.7px;
  /* font-weight: bolder; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.submit {
  font-family: 'Architects Daughter', cursive; 
  text-align: center;
  letter-spacing: 1px;
  font-weight: bolder;
  background-color: rgb(224, 234, 234);
  border: 0.1px solid black;
  border-radius: 2px;
}

.submit:hover {
	animation: bounce 1s;
}

.loginsignup {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  width: 120px;
}

input[type=text] {
  width: 120px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=email] {
  width: 120px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password] {
  width: 120px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
border: 3px solid #555;
}

input[type=email]:focus {
  border: 3px solid #555;
}

input[type=password]:focus {
  border: 3px solid #555;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
